@model ItransitionMVC.Models.Collection.CustomCollection
<div class="container-fluid">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Likes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        <a class="btn btn-primary" asp-controller="Home" asp-action="ItemView" asp-route-id="@item.Id">@item.Name</a>
                    </td>
                    <td>
                        @item.Description
                    </td>
                    
                </tr>
            }

        </tbody>
    </table>
</div>

