@model ItransitionMVC.ModelViews.LoginViewModel
<div class="container-fluid row">
    <h2>@Locolize.GetKey("Login")</h2>
    <form method="post" asp-controller="Account" asp-action="Login">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="">
                <label asp-for="Email" class="form-label"></label><br />
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email"></span>
            </div>
            <div class="">
                <label asp-for="Password" class="form-label">@Locolize.GetKey("Password")</label><br />
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password"></span>
            </div>
            <div class="">
                <label asp-for="RememberMe">@Locolize.GetKey("RememberMe")</label><br />
                <input asp-for="RememberMe" />
            </div>
            <div class="">
                <input type="submit" class="btn btn-primary m-2" value="@Locolize.GetKey("Login")" />
            </div>
       </div>
    </form>
</div>

