@model CustomCollection;

<div class="container">
    <form method="post" asp-controller="Item" asp-action="CreateItem" asp-route-collectionId="@Model.Id">

        <input type="text" class="form-control w-25 mt-2" placeholder="name" name="name" />
        <input type="text" class="form-control w-25 mt-2" placeholder="description" name="description" />
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </form>
</div>