@model CustomCollection;

<div>
    <a class="btn btn-success" asp-controller="Item" asp-action="CreateItem">New Item</a>
    <table class="container table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        <a href="/Home/ItemView/@item.Id">@item.Name</a>
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            }

        </tbody>
    </table>
</div>