@model ItransitionMVC.ModelViews.LoginViewModel

<div class="container-fluid">
    <h2>Login</h2>
    <form method="post" asp-controller="Account" asp-action="Login">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Email" class="form-label"></label><br />
            <input asp-for="Email" class="form-control w-25" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Password" class="form-label w-25"></label><br />
            <input asp-for="Password" class="form-control w-25" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="RememberMe"></label><br />
            <input asp-for="RememberMe" />
        </div>
        <div>
            <input type="submit" class="btn btn-primary m-2" value="Enter" />
        </div>
    </form>
</div>

